@tailwind base;
@tailwind components;
@tailwind utilities;

table {
    border-collapse: collapse;
    max-width: 1500px;
  }
  
td {
    border-bottom: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    padding-bottom: 40px;
}

th {
    border-bottom: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

p {
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
    line-height: 2rem;
    overflow-wrap: break-word;
    color: white;
    letter-spacing: 0.025rem;
}

p.divider {
    color: #3d3d3d;
    margin-left: 4rem;
    margin-right: 4rem;
    padding: 10px;
}

span {
    margin-right: 6px;
    font-weight: bold;
}

hr {
    border: 1px solid #3d3d3d;
}

h1 {
    font-family: 'Roboto Mono', monospace;
    font-size: 3rem;
    margin-bottom: 2rem;
}

h2 {
    color: #ff5277;
    font-size: 1.25rem;
    font-weight: bold;
    letter-spacing: 0.025rem;
    text-transform: uppercase;
    margin-bottom: 0.25rem;
}

.primaryColor {
    background-color: #171E27;
}

.secondaryColor {
    background-color: #0e141b;
}

.colorRed {
    color: #ff5277;
}

.name:hover {
    color: #ff5277;
}

img.icon {
    margin-left: 2rem;
    float: left;
}

li.ranking::before {
    content: counters(counts,".") ". ";
    color: #ff5277;
    padding-right: 1rem;
    font-weight: bold;
}

li.ranking {
    counter-increment: counts;
}

.footer {
    background-color: #0e141b;
}

.footer-stack {
    background-color: #0e141b;
}

div.blogGrid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, minmax(600px, 600px));
}


blockquote.quote {
    color: #9c9c9c;
}

.tableOfContents {
    color: #d9d9d9;
}

aside.tableOfContents {
    flex: 0 100000 250px;
}

.robotoMono {
    font-family: 'Roboto Mono', monospace;
}
  
.listItem::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #ff5277;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}
  
a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}