@tailwind base;
@tailwind components;
@tailwind utilities;


div.placeholder-div {
    background-color: #171E27;
    height: 500px;
}

div.home-div {
    /*background-image: url(static/images/000.png);*/
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

div.primaryColor {
    background-color: #171E27;
}

.colorRed {
    color: #ff5277;
}

.name:hover {
    color: #ff5277;
}

.listItem::after {
    transform: none;
    content: '';
    display: block;
    height: 5px;
    background-color: #ff5277;
    position: absolute;
    left: 1.25rem;
    right: 1.25rem;
    bottom: -1px;
    transform-origin: 0 50%;
    transition: transform .3s cubic-bezier(.86,0,.07,1);
}

h1 {
    font-family: 'Noe Display','Georgia','Times','serif';
    color: white;
}

div.my-work {
    background-color: #0e141b;
}

div.future-ventures {
    background-color: white;
}

.footer {
    background-color: #0e141b;
}

.footer-stack {
    background-color: #0e141b;
}

p.divider {
    color: #3d3d3d;
}

hr.divider {
    border: 1px solid #3d3d3d;
}

path.wave {
    fill: #0e141b;
}

div.navbar {
    background-color: #171E27;
}